name: Deploy to GitHub Pages

on:
  workflow_run:
    branches:
      - main
    workflows: ["LaTeX", "Typst"]
    types:
      - completed

  push:
    branches:
      main
    paths:
        # Files used in this workflow
      - '.github/scripts/generate_index.py'
        # Relevant CI configs
      - '.github/workflows/pages.yaml' # this file

jobs:
  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Aggregate artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p deploy/vtrmc/tex
          mkdir -p deploy/vtrmc/typ
          # Download latest artifacts from both workflows.
          # We use || true to avoid failing if one hasn't been produced yet.
          gh run download --name latex-artifacts --dir deploy/vtrmc/tex || echo "LaTeX artifacts not found"
          gh run download --name typst-artifacts --dir deploy/vtrmc/typ || echo "Typst artifacts not found"

      - name: Generate index.md
        run: |
          cp .github/scripts/generate_index.py deploy/
          cd deploy
          python3 generate_index.py
          pandoc -f markdown -t html -s index.md -o index.html
          rm generate_index.py index.md

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: deploy

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
