name: Typst

# GitHub Actions does not support anchors:
# https://github.com/actions/runner/issues/1182
# so we need to duplicate paths below and manually keep them in sync.
on:
  push:
    branches: [ "main" ]
    paths:
        # All Typst files and associated Makefiles, etc.
      - '**/*.typ'
      - '**/typ/**'
        # Relevant CI configs
      - '.github/workflows/typst.yaml' # this file

  pull_request:
    branches: [ "main" ]
    paths:
        # All Typst files and associated Makefiles, etc.
      - '**/*.typ'
      - '**/typ/**'
        # Relevant CI configs
      - '.github/workflows/typst.yaml' # this file

jobs:
  build:

    runs-on: 'ubuntu-24.04'

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Typst
      run: |
        # Download Typst, decompress it, and add its directory to $PATH.
        curl -sOL "https://github.com/typst/typst/releases/download/${TYPST_VERSION}/${TYPST_BUILD}.tar.xz"
        tar xf "${TYPST_BUILD}.tar.xz"
        echo "${PWD}/${TYPST_BUILD}" >> "${GITHUB_PATH}"
      env:
        TYPST_VERSION: v0.12.0
        TYPST_BUILD: typst-x86_64-unknown-linux-musl

    - name: Show Typst version
      run: |
        echo "Typst version:"
        typst --version

    - name: Build *.typ files to PDFs
      run: |
        cd vtrmc/typ
        for year in [1-9]* ; do
          # The begin/end markers enable having collapsible sections in the
          # output, which improves readability.
          #
          # See the docs for details:
          # https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#grouping-log-lines

          echo "::group::VTRMC ${year} problems"
          make -C "${year}" problems
          echo "::endgroup::"

          echo "::group::VTRMC ${year} solutions"
          make -C "${year}" solutions
          echo "::endgroup::"
        done
      env:
        VERBOSE: 1

    - name: Upload Typst artifacts
      uses: actions/upload-artifact@v4
      with:
        name: typst-artifacts
        path: vtrmc/typ/**/*.pdf
